@import url('https://fonts.cdnfonts.com/css/retro-new-version');


* {
    margin: 0;
    font-family: 'Retro New Version', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: square;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

.arrowButton {
    border: none;
    background-color: transparent;
    color: white;
    padding: 2% 0;
}

.arrowButton:hover {
    color: #2b2d42;
}

.button {
    margin-top: 2%;
    width: fit-content;
    background-color: #edf2f4;
    padding: 3px 10px;
    border-radius: 15px;
    transition: 0.2s;
    font-weight: 600;
    color: #2b2d42;
}

.button:hover {
    transform: scale(1.2);
}

.bold-text {
    font-weight: 600;
    font-size: 1.2em;
}

.i-text {
    font-style: italic;
    font-size: 0.9em;
    color: grey;
}

/* Resume Style */

.resume-body {
    display: flex;
    height: 100vh;
    width: 100%;
}

#profile-container {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    width: 35%;
    height: 100vh;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 30px;
}

.header {
    margin: 0;
    padding: 5%;
    color: white;
    background-color: #2b2d42;
}

.name {
    font-size: 3em;
    font-weight: 600;
    color: #edf2f4;
}

.job {
    font-style: italic;
    font-size: 1.2em;
}

.profile-body {
    padding: 5%;
    background-color: white;
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 57%;
    height: auto;
    margin: 2%;
    row-gap: 15px;
    line-height: 25px;
}

.content {
    border: 1px solid rgb(240, 240, 240);
    background-color: white;
    border-radius: 3px;
    padding: 2%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-description {
    padding-top: 1%;
}

/* animation */

@keyframes loadFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.loadFromLeft {
    animation: loadFromLeft 1500ms;
}

@keyframes loadFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.loadFromRight {
    animation: loadFromRight 1500ms
}

/* Home Style */

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -60px 0 60px 0;
    width: 100%;
    color: #edf2f4;
    font-size: 0.5em;
}

.headliner {
    animation: loadHeadliner 1500ms;
}

@keyframes loadHeadliner {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome {
    font-size: 2em;
    font-weight: 600;
}

.home-body {
    width: 100%;
    height: 100vh;
    background-color: #8d99ae;
    color: #edf2f4;
}

.home-flexbox {
    display: flex;
}

.home-content {
    text-align: right;
    margin: 7% 0 0 5%;
    font-size: 2em;
    font-weight: 400;
    width: 45%;
    height: 600px;
    padding: 60px;
}

.home-picture {
    width: 45%;
    margin: 7% 5% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://www.nme.com/wp-content/uploads/2021/07/bts-v-taehyung-popular-hybe-071321.jpg'); */
    background-size: cover;
}

.show {
    display: block;
}

#arrowDownButton {
    visibility: hidden;
    padding: 10% 0;
    animation: arrowDownButtonAnimation 1000ms infinite;
}

@keyframes arrowDownButtonAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    99% {
        transform: translateY(0%);
    }
}

@keyframes arrowUpButtonAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    99% {
        transform: translateY(0%);
    }
}

/* About Me Style */

.aboutme-body {
    background-color: #8d99ae;
    width: 100%;
    height: 100vh;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#aboutmeArrowUp {
    visibility: hidden;
    animation: arrowUpButtonAnimation 1000ms infinite;
}

#aboutmeArrowDown {
    visibility: hidden;
    animation: arrowDownButtonAnimation 1000ms infinite;
}

.aboutme-container {
    display: flex;
}

#aboutme-content {
    width: 45%;
    height: 70vh;
    margin: 0 0 0 5%;
    padding: 0px 60px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: 2px;
}

#aboutme-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0 5% 0 0;
}

.aboutme-header {
    font-size: 2em;
    color: #2b2d42;
    font-weight: bold;
}