@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: square;
    box-sizing: border-box;
}

.button {
    margin-top: 2%;
    width: fit-content;
    background-color: #ff8282;
    padding: 3px 10px;
    border-radius: 15px;
    transition: 0.2s;
    font-weight: 600;
    color: #000000;
}

.button:hover {
    transform: scale(1.2);
    box-shadow: #ffbfbf 0px 10px 36px 0px, #ffbfbf 0px 0px 0px 1px;
}

body {
    display: flex;
}

.bold-text {
    font-weight: 600;
    font-size: 1.2em;
}

.i-text {
    font-style: italic;
    font-size: 0.9em;
    color: grey;
}

/* Resume Style */

#profile-container {
    position: fixed;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    width: 35%;
    height: 670px;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: loadFromLeft 0.75s;
}


.header {
    margin: 0;
    padding: 5%;
    color: white;
    background-color: #000000;
}


.name {
    font-size: 3em;
    font-weight: 600;
    color: #ff8282;
}

.job {
    font-style: italic;
    font-size: 1.2em;
}

.profile-body {
    padding: 5%;
    background-color: white;
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

#content-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 57%;
    height: auto;
    margin: 2% 2% 2% 39%;
    row-gap: 15px;
}

.content {
    border: 1px solid rgb(240, 240, 240);
    background-color: white;
    border-radius: 3px;
    padding: 2%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: loadFromRight 0.75s;
}



.content-description {
    padding-top: 1%;
}

/* animation test */

@keyframes loadFromRight {
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Home Style */

nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
    color: #ff8282;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav div {
    width: 33%;
}

.welcome {
    font-size: 2em;
    font-weight: 600;
}

.home-body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0fc9ded4-899e-408f-8b33-c893599d0397/defkhv0-2c812d8e-e673-43b5-88ee-b0e406ba588a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmYzlkZWQ0LTg5OWUtNDA4Zi04YjMzLWM4OTM1OTlkMDM5N1wvZGVma2h2MC0yYzgxMmQ4ZS1lNjczLTQzYjUtODhlZS1iMGU0MDZiYTU4OGEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Gw5FQp4FYOyN-0CAdZsuo1a62GNG9Qy5kC9Vjia4IsQ');
}