@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
    --main-bg-color: #cadc9f;
    --head-font-color: #0f230f;
    --normal-font-color: #306203;
    --light-font-color: #8bac0f;
    --ligther-font-color: #9bbc0f
}

* {
    background-color: var(--main-bg-color);
    color: var(--head-font-color);
    margin: 0;
    font-weight: 300;
    text-decoration: none;
    list-style: square;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.arrowButton {
    border: none;
    background-color: transparent;
    color: var(--head-font-color);
    padding: 2% 0;
}

.arrowButton:hover {
    color: white;
}

button {
    padding: 10px;
    background-color: var(--head-font-color);
    color: var(--main-bg-color);
}

button:hover {
    color: var(--head-font-color);
    background-color: var(--main-bg-color);
}


.bold-text {
    font-weight: 600;
    font-size: 1.2em;
}

.i-text {
    font-style: italic;
    font-size: 0.9em;
    color: grey;
}

/* Resume Style */

.resume-body {
    display: flex;
    height: 100vh;
    width: 100%;
}

#profile-container {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    width: 35%;
    height: 100vh;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 30px;
}

.header {
    margin: 0;
    padding: 5%;
    color: white;
    background-color: #2b2d42;
}

.name {
    font-size: 3em;
    font-weight: 600;
    color: #edf2f4;
}

.job {
    font-style: italic;
    font-size: 1.2em;
}

.profile-body {
    padding: 5%;
    background-color: white;
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 57%;
    height: auto;
    margin: 2%;
    row-gap: 15px;
    line-height: 25px;
}

.content {
    border: 1px solid rgb(240, 240, 240);
    background-color: white;
    border-radius: 3px;
    padding: 2%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-description {
    padding-top: 1%;
}

/* animation */

@keyframes loadFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.loadFromLeft {
    animation: loadFromLeft 1500ms;
}

@keyframes loadFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.loadFromRight {
    animation: loadFromRight 1500ms
}

/* Home Style */

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -60px 0 60px 0;
    width: 100%;
    color: #edf2f4;
    font-size: 0.5em;
}

.home-body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--head-font-color);
}

.home-flexbox {
    display: flex;
}

.home-content {
    font-size: 2em;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    padding: 200px 0;
    text-align: center;
}

#intros {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    letter-spacing: 10px;
    font-size: 3em;
}

#intros h1 {
    border-right: .15em solid var(--head-font-color);
    white-space: nowrap;
    margin: 0 auto;
    /* animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal; */
}

.introAnimation {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.home-p1,
.home-p2 {
    margin-bottom: 2%;
    visibility: hidden;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: var(--head-font-color);
    }

    to {
        border-right-color: transparent;
    }
}


#arrowDownButton {
    visibility: hidden;
    padding: 10% 0;
    animation: arrowDownButtonAnimation 1000ms infinite;
}

@keyframes arrowDownButtonAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    99% {
        transform: translateY(0%);
    }
}

@keyframes arrowUpButtonAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    99% {
        transform: translateY(0%);
    }
}

/* About Me Style */


.aboutme-body {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100vh;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#aboutmeArrowUp {
    visibility: hidden;
    animation: arrowUpButtonAnimation 1000ms infinite;
}

#aboutmeArrowDown {
    visibility: hidden;
    animation: arrowDownButtonAnimation 1000ms infinite;
}

.aboutme-container {
    display: flex;
}

#aboutme-content {
    width: 90%;
    height: 70vh;
    margin: 0 5%;
    padding: 0px 60px;
    color: var(--normal-font-color);
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: 2px;
    line-height: 40px;
}

#aboutme-content div {
    opacity: 0;
}

@keyframes aboutmeAnimation {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.aboutmeAnimation {
    animation: aboutmeAnimation 2000ms;
}

.aboutme-header {
    font-size: 2em;
    color: var(--head-font-color);
    font-weight: bold;
}

/* skill style */

.skill-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    color: var(--head-font-color);
}

#skill-container {
    display: flex;
    flex-direction: column;
    padding: 100px 600px;
    justify-content: space-between;
    height: 80%;
}

#skill-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#skillArrowUp {
    /* visibility: hidden; */
    animation: arrowUpButtonAnimation 1000ms infinite;
}

#skillArrowDown {
    /* visibility: hidden; */
    animation: arrowDownButtonAnimation 1000ms infinite;
}

.bar {
    white-space: nowrap;
    box-sizing: border-box;
    border: 4px solid var(--head-font-color);
    background-color: var(--head-font-color);
    width: 300px;
}

.level {
    padding: 5px;
    color: white;
    background-color: var(--light-font-color);
}


.beginner {
    animation: newbie 1000ms;
}

.skillful {
    animation: skillful 1000ms;
}

.experience {
    animation: experience 1000ms;
}

.vexperience {
    animation: vexperience 1000ms;
}

/* skill lever */
.html {
    width: 270px;
}

.css {
    width: 270px;
}

.js {
    width: 210px;
}

.react {
    width: 120px;
}

.python {
    width: 210px;
}

.php {
    width: 240px;
}

.sql {
    width: 240px;
}

@keyframes newbie {
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 120px
    }
}

@keyframes skillful {
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 210px
    }
}

@keyframes experience {
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 240px
    }
}

@keyframes vexperience {
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 270px
    }
}

#skill-backdrop {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hideBtn {
    width: 40%;
}

#view-backdrop {
    margin-bottom: 2%;
}

#backdrop-status {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    justify-content: space-between;
    padding: 80px 120px;
    border-radius: 10px;
}

#backdrop-status div {
    display: flex;
    justify-content: space-between;
}